<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bostontute"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
                <activity
            android:name=".Splash"
            android:label="Blah" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.bostontute.Act"
            android:label="Blah" >
            <intent-filter>
                <action android:name="com.example.bostontute.ACT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
           <activity
            android:name="com.example.bostontute.Menu"
            android:label="Blah" >
            <intent-filter>
                <action android:name="com.example.bostontute.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <activity
            android:name="com.example.bostontute.TextPlay"
            android:label="Blah" >
            
        </activity>
    </application>

</manifest>